.splitter-vertical,
.splitter-horizontal,
.splitter-center {
  position: absolute;
  z-index: 10;
}

.splitter-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  cursor: col-resize;
  background: transparent;
}

.splitter-handle-vertical {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 60px;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.35);
}

.splitter-horizontal {
  left: 40px;
  right: 40px;
  height: 12px;
  margin-top: -6px;
  cursor: row-resize;
}

.splitter-center {
  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -7px;
  cursor: move;
}

.splitter-handle-vertical,
.splitter-handle-horizontal,
.splitter-center-dot {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}
